<!DOCTYPE html>
<html>
    <head>
        <title>J. Cole</title>
        <meta name="description" content="This is the homepage for my J. Cole website.">
        <link rel="stylesheet" href="/Static/style.css">
    </head>
    <body>
        <header class="main-header">
            <nav class="nav main-nav">
                <ul>
                    <li><a href="">HOME</a></li>
                    <li><a href="{{ url_for('store')}}">STORE</a></li>
                    <li><a href="{{ url_for('about')}}">ABOUT</a></li>
                    <li><a href="{{ url_for('login')}}">LOGIN</a></li>
                </ul>
            </nav>
            <h1>J. Cole</h1>
            <button>Get his Latest Album</button>
            <br>
            <br>
            <!--TODO: Remember to add a background picture for this homepage-->
            <button>&#9658</button>
        </header>
        <section>
            <h2>TOP SONGS</h2>
            <div>
                <div>
                    <strong>MIDDLE CHILD</strong>
                    &lt;&gt;
                    <span>Single</span>
                    &lt;&gt;
                    <span>2019</span>
                    &lt;&gt;
                    <button type="button">LISTEN TO THE SONG</button>
                    <hr>
                </div>
                <div>
                    <strong>No Role Modelz</strong>
                    &lt;&gt;
                    <span>Forest Hills Drive</span>
                    &lt;&gt;
                    <span>2014</span>
                    &lt;&gt;
                    <button type="button">LISTEN TO THE SONG</button>
                    <hr>
                </div>
                <div>
                   <strong>Apparently</strong>
                   &lt;&gt;
                   <span></span>Forest Hills Drive
                   &lt;&gt;
                   <span></span>2014
                   &lt;&gt;
                   <button type="button">LISTEN TO THE SONG</button>
                   <hr>
                </div>
                <div>
                    <strong>She Knows</strong>
                    &lt;&gt;
                    <span>Born Sinner</span>
                    &lt;&gt;
                    <span>2013</span>
                    &lt;&gt;
                    <button type="button">LISTEN TO THE SONG</button>
                    <hr>
                </div>
                <div>
                     <strong>Love Yourz</strong>
                     &lt;&gt;
                     <span>Forest Hills Drive</span>
                     &lt;&gt;
                     <span>2014</span>
                     &lt;&gt;
                     <button type="button">LISTEN TO THE SONG</button>
                </div>
            </div>

        </section>
        <footer>
            <h3>J. Cole</h3>
            <ul>
                <li><a href="https://www.youtube.com/user/jcolemusic" target="_blank"><img src="/Images/youtube.png"></a></li>
                <li><a href="https://open.spotify.com/artist/6l3HvQ5sa6mXTsMTB19rO5" target="_blank"><img src="/Images/spotify logo.png"></a></li>
                <li><a href="https://twitter.com/JColeNC?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank"><img src="/Images/Twitter logo.png" ></a></li>
            </ul>
        </footer>
    </body>
</html>