<!DOCTYPE html>
<html>
    <head>
            <title>J. Cole | Store</title>
            <meta name="description" content="This is the homepage for my J. Cole website.">
            <link rel="stylesheet" href="/Static/style.css">
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="{{ url_for('main')}}">HOME</a></li>
                    <li><a href="{{ url_for('store')}}">STORE</a></li>
                    <li><a href="{{ url_for('about')}}">ABOUT</a></li>
                </ul>
            </nav>
            <hr>
            <h1>J. Cole</h1>
        </header>
        <section>
            <h2>MUSIC</h2>
            <div>
                <div>
                    <strong>2014 Forest Hills Drive</strong>
                </div>
                <img src="/Images/forest.jpg">
                <div>
                    <span>$12.99</span>
                    <button role="button">ADD TO CART</button>
                </div>
            </div>

            <div>
                <div>
                    <strong>KOD</strong>
                </div>
                <img src="/Images/kod.jpg">
                <div>
                    <span>$12.99</span>
                    <button role="button">ADD TO CART</button>
                </div>
            </div>

            <div>
                <div>
                    <strong>Born Sinner/strong>
                </div>
                <img src="/Images/sinner.jpg">
                <div>
                    <span>$12.99</span>
                    <button role="button">ADD TO CART</button>
                </div>
            </div>

            <div>
                <div>
                    <strong>4 Your Eyez Only</strong>
                </div>
                <img src="/Images/eyez.jpg">
                <div>
                    <span>$12.99</span>
                    <button role="button">ADD TO CART</button>
                </div>
            </div>


        </section>

        <section>
            <h2>MERCH</h2>
            <div>
                <div>
                    <strong>Crack Pipe</strong>
                </div>
                <img src="/Images/pipe.jpg">
                <div>
                    <span>$49.99</span>
                    <button role="button">ADD TO CART</button>
                </div>
            </div>

            <div>
                <div>
                    <strong>Dreamville Hoddie</strong>
                </div>
                <img src="/Images/hoodie.jpg">
                <div>
                    <span>$84.99</span>
                    <button role="button">ADD TO CART</button>
                </div>
            </div>
        </section>

        <section>
            <h2>CART</h2>
            <div>
                <strong>ITEM</strong>
                &lt;&gt;
                <strong>PRICE</strong>
                &lt;&gt;
                <strong>QUANTITY</strong>
            </div>
            <div>
                <img src="/Images/pipe.jpg">
                <span>Lightly Used Crack Pipe</span>
                &lt;&gt;
                <span>$49.99</span>
                <input type="number" value="1">
                <button role="button">REMOVE</button>
            </div>
            <div>
                <img src="/Images/forest.jpg">
                <span>2014 Forest Hills Drive</span>
                &lt;&gt;
                <span>$12.99</span>
                <input type="number" value="2">
                <button role="button">REMOVE</button>
            </div>
            <hr>
            <div>
                <strong>Total</strong>
                <span>$62.98</span>
            </div>
            <div>
                <button role="button">PURCHASE</button>
            </div>
        </section>
        <footer>
            <h3>J. Cole</h3>
            <ul>
                <li><a href="https://www.youtube.com/user/jcolemusic" target="_blank"><img src="/Images/youtube.png"></a></li>
                <li><a href="https://open.spotify.com/artist/6l3HvQ5sa6mXTsMTB19rO5" target="_blank"><img src="/Images/spotify logo.png"></a></li>
                <li><a href="https://twitter.com/JColeNC?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank"><img src="/Images/Twitter logo.png"></a></li>
            </ul>
        </footer>
    </body>
</html>